/*Desire2Learn Inc.*/
/*Classic Contemporary Template*/
/*November 2010*/

/* Layout elements */

html {
	background-color: #888;
	background-image: url("bg.png");
	padding: 27px;
}

#content {
	border: 1px solid #DFDFDF;
	margin-bottom: 0;
	padding: 13px 32px;
}

#header{
	margin: 0;
	padding: 0;
}

#body{
	margin: 0;
	padding: 0;
}

.img{
	margin: 6px 0 16px 0;
	padding: 0;
}

.imgRight{
	margin: 6px 0 16px 0;
	padding: 0;
	float: right;
	padding-left: 27px;
}

.imgLeft{
	margin: 6px 0 16px 0;
	padding: 0;
	float: left;
	padding-right: 27px;
}

#footer{
	clear: both; 
	margin: 0;
	padding: 0;
	padding-top: 20px;
	text-align: center;
}

#footnotes{
	border-top: dashed 1px #444;
	border-bottom: dashed 1px #444;
	clear: both; 
	margin: 0;
	padding: 0;
	font-size: 0.92em;
}

.footnote{
	margin-left: 0;
	padding: 0 0 1px 19px;
	font-size: 0.92em;
}

/* Text elements */

body {
	background-color: #FFF; 
	font-family: Trebuchet MS, Verdana, sans-serif;
	font-size: 0.8em;
	margin:0 auto; 
	padding:0; 
	text-align:left;
}

h1 {
	margin-top: 0;
	margin-bottom: 16px;
	text-align: left;
	text-indent: 0;
	word-spacing: 0.125em;
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 2.53em;
	color: #3f3f3f;
	letter-spacing: 0;
	text-decoration: none;
}
	
h2 {
	margin-top: 32px;
	margin-bottom: 16px;
	text-align: left;
	text-indent: 0;
	word-spacing: 0.125em;
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.85em;
	color: #3f3f3f;
	letter-spacing: 0;
	text-decoration: none;
	border-bottom: dotted 1px;
	clear: both;
}
	   
h3 {
	margin-top: 32px;
	margin-bottom: 8px;
	text-align: left;
	word-spacing: 0.125em;
	font-family: Georgia, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.25em;
	color: #3f3f3f;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: uppercase;
	clear: both;
}

h4 {
	margin-top: 24px;
	margin-bottom: 8px;
	text-align: left;
	word-spacing: 0.250em;
    font-family: Verdana, sans-serif; 
	font-style: bold;
	font-weight: bold;
	font-size: 1em;
	color: #3f3f3f;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: uppercase;
	clear: both;
}

code{
	font-size: 9pt;
}

blockquote {
	margin: 22px 40px;
	upadding: 3px;
	color: #000;
	font-style: italic;
	padding: 5px 50px;
	background: transparent url("blockquote.png") no-repeat 0 0;
}

strong {
	word-spacing: 0;
	font-family: Arial, sans-serif;
	font-weight: bold;
}

em {
	font-style: italic;
	font-weight: normal;
	font-family: Georgia, serif;
}

a:link { 
	color: #008080;
	border-bottom: 1px solid #008080;
	text-decoration: none;
}
		
a:visited { 
	color: #008080;
	border-bottom: 1px solid #008080;
	text-decoration: none; 
}
		   
a:hover { 
	color:#000; 
	background-color: #F4F2E4;
	border-bottom: 1px solid #888;
	text-decoration: none;
}

a:active { 
	color:#000; 
	background-color: #F4F2E4;
	border-bottom: 1px solid #888;
	text-decoration: none;
}

p {   
	text-indent: 0; 
	margin-top: 8px; 
	margin-bottom: 16px;  
	line-height: 22px;
	font-style: normal; 
	font-weight: normal; 
	text-decoration: none; 
}

p.emphasis{
	background-color: #FFFFCC;
}

p.caption {
	margin: 0;
	padding: 0;
	font-size: 0.95em;
	clear: both;
}

caption{
	font-size: 0.95em;
}
		
p.note {
	text-align: left;
	text-indent: 0;
	padding: 8px;
	background-color: #F8F8DC;
	font-size: 1em;
	text-decoration: none;
	line-height: 19px;
	border-top: 1px dashed #999;
	border-bottom: 1px dashed #999;
}

img { 
	border: none;
}

/* Lists */

ul {
	text-align: left;
	font-size: 1em;
	list-style-type: circle;
	list-style-position: outside;
    padding-bottom: 5px;
}

ol {
	text-align: left;
	font-size: 1em;
	list-style-position: outside;
	padding-bottom: 5px;
}
	
li {
	margin: 6px 0;
}

dl {
	text-align: left;
	font-size: 1em;
	padding: 1px 0 13px 26px;
}

dt {

	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-weight: bold;
}

dd {

	margin: 0 0 10px 0;
	padding: 0 0 0 0;
}

/* Spans */

span.new { 
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.85em; 
	color: #A81400; 
	letter-spacing: 0; 
	font-style: bold; 
	font-weight: bold; 
	text-decoration: none;
}

span.note { 
	word-spacing: 0.250em;
    font-family: Verdana, sans-serif; 
	font-style: bold;
	font-weight: bold;
	font-size: 1em;
	color: #A81400;
	letter-spacing: 0;
	text-decoration: none;
	text-transform: uppercase;
}

/* Tables */

table {
	margin: 6px 0 12px 0;
	width: 100%;
	border-collapse: collapse;
	border-bottom: 2px solid #666;
}

th {
	background-color: #B8DCDB;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #888888;
	padding: 5px;
	font-size: 1em;
	color: #000;
}


td {
	border-collapse: collapse;
	padding: 5px;
	vertical-align: top;
	border: 1px solid #888888;
	font-size: 1em;
	color: #30302F;
	width: auto;
}

tr {
	border-collapse: collapse;
	padding: 5px;
	margin: 0;
	vertical-align: top;
}
